
<h1 class ="title">ThinkieDrinkie, for the cerebral drinker with a purpose</h1>

<div class="row">
  <div class="small-12 columns">...</div>
  <div class="row">
    <div class="small-3 columns"><%= link_to("Products by Seller ", search_sellers_products_path, method: :get)%></div>
    <div class="small-9 columns"><%= link_to("Products by Category", categories_path, method: :get)%></div>
  </div>
  <div class="row">
    <ul class="small-block-grid-3"/ul>
      <li class="link"><%#img_tag%></li>
      <li class="link"><%#img_tag%></li>
      <li class="link"><%#img_tag%></li>
    </ul>
    <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for a category:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <% end %>
  </div>
