<h2>Hello <%= @user.user_name %></h2>

<% if @user.products.blank? %>
  <p>You have not listed any products yet, time to change that!</p>
  <%= button_to "get started", new_product_path, method: :get %>

<% else %>
  <p><%= button_to "Add a category", new_category_path, method: :get %></p>
  <p><%= button_to "Add a product", new_product_path, method: :get %></p>

  <h2 class="productlist"> Active Products: </h2>
  <table>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= button_to "#{productname.capitalize}", product_path(product) %></td>
        <td><%= button_to "Edit", edit_product_path(product), { method: :get, class: "hollow button" }  %></td>
        <td><%= button_to "Retire", product_path(product), { method: :update, class: "secondary hollow button" } %></td>
        <td><%= button_to "Delete", product_path(product), method: :delete, class: "button alert", data: { confirm: 'Are you certain you want to delete this?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h2 class="retiredproducts"> Retired Products: </h2>
  <table>
    <tbody>
      <% @retired.each do |t| %>
      <tr>
        <td><%= button_to "Edit", edit_product_path(t), { method: :get, class: "hollow button" }  %></td>
        <td><%= button_to "Activate", product_path(t), { method: :update, class: "secondary hollow button" } %></td>
        <td><%= button_to "Delete", product_path(t), method: :delete, class: "button alert", data: { confirm: 'Are you certain you want to delete this?' }%>
      </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
