<h1>Your Order: <%= @order.id %></h1>
<% @order_items.each do |item| %>
<h3><%= item.product.name %></h3>
<ul>
  <li>
    Price: <%= sprintf("$%0.02f", item.product.price/100.to_f) %>
  </li>
  <li>
    <%= form_for [@order, item] do |f| %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.submit "Update" %>
    <% end %>
    <%= button_to [@order, item], method: :delete, class: "button", data: { confirm: "Are you sure?" } do %>Remove from Cart<% end %>
  </li>
  <li>
    Subtotal: <%= sprintf("$%0.02f", item.subtotal/100.to_f) %>
  </li>
</ul>
<% end %>
<%= button_to "Checkout", checkout_order_path(@order), method: :get %>
