<!-- from registered view:
should show buyer information and payment
should also show order items for the associated seller/authorized user -->
<main class="row">
  <section id="new-product" class="small-12 medium-6 medium-centered">

<h1> Order confirmation for <%= @order.cc_holder_name %></h1>

<h2> Buyer Information </h2>
<ul>
  <li> Buyer Name: <%= @order.cc_holder_name %> </li>
  <li> Email Address: <%= @order.email %> </li>
  <li> Mailing Address: <%= @order.mailing_address %> </li>
    <!-- masks numbers except last 4 -->
  <li> Credit Card Number: <%= @order.mask(@order.cc_number) %> </li>
  <li> Credit Card Exp. Date: <%= @order.exp %> </li>

  <li> Order placed at: <%= pretty_date(@order.created_at) %> </li>
  <li> Order status: <%= @order.status %> </li>
  <li> Order Number: <%= @order.id %> </li>
</ul>

<h2> Ordered Items </h2>
<article>
  <!-- Should display only the items sold by the user for that particular order -->
<h1>(Merchant View for <%= @current_user.user_name %>)</h1>

<h4> Items sold to <%= @order.cc_holder_name %> from you: </h4>

<% item_total = 0 %>
<% @matched_items.each do |item|%>

  <li>Product: <%= link_to "#{item.product.name}", product_path(item.product_id) %></li>

  <li>Quantity: <%= item.quantity %></li>

  <li>Price: <%= currency(item.product.price) %></li>
  <!-- Subtotal for one item -->
  <li>Subtotal: <%= currency(item.subtotal) %></li>
  <% item_total += item.subtotal %>
  <% if item.shipped %>
    <p>
      This item has shipped.
    </p>
  <% else %>
    <%= link_to "Ship", ship_item_path(@order, item), method: :patch, class: "button hollow"  %>
  <% end %>
<% end %>

<!-- Calculates the cost of all the items ordered for this user's order  -->
<section class="total-sale-for-vendor">
  <b>  Your Total Sale Amount:  <%= currency(item_total) %></b>
</section>
</article>
</section>
</main>




<!-- A list of orders including at least one of my products:
Each order item sold by me with a quantity and line-item subtotal
A link to the item description page
DateTime the order was placed
****Link to transition the order item to marked as shipped***** @TODO
The current status of the order ("pending", "paid", "complete", "cancell -->
