
<h1> Products </h1>
<h1 class="AllList"> </h1>


<% @product.each do |product| %>
<%=image_tag "#{product.photo_url}"%>
  <h3><%= "#{product.name.capitalize}" %></h3>
  <h3><%= "#{product.price}" %></h3>
  <h3><%= "#{product.inventory}" %></h3>
  <h3><%= "#{product.description}" %></h3>
  <h3><%= button_to "take a quick look", product_path(product.id), method: :get %></h3>
  <h3><%= button_to "view other products in this category", category_path(product.id), method: :get %></h3>
  <h3><%# button_to ##TODO make a button to "buy this product" method: :get %></h3>

  <% if @session == false %>
  <h3><%= button_to "review this product", new_product_review_path(product.id), method: :get %></h3>
  <%end %>
<% end %>
