<h1> Products </h1>
<h1 class="AllList"> </h1>


<% @product.each do |product| %>
<%=image_tag "#{product.photo_url}"%>
  <h3><%= "#{product.name.capitalize}" %></h3>
  <h3><%= "#{product.price}" %></h3>
  <h3><%= "#{product.inventory}" %></h3>
  <h3><%= "#{product.description}" %></h3>
  <h3><%= link_to "take a quick look", product_path(product.id), method: :get, class:"button" %></h3>
  <h3><%= link_to "view other products in this category", category_path(product.id), method: :get, class:"button" %></h3>
  <h3><%# button_to ##TODO make a button to "buy this product" method: :get %></h3>

  <% if @session == false %>
  <h3><%= link_to "review this product", new_product_review_path(product.id), method: :get, class:"button" %></h3>
  <%end %>
<% end %>

<h1> Product Home </h1>
<h3><%= @category %></h3>
<% @products.each do |item| %>
<ul>
  <li>Seller: <%# user name find to display as link %><%=link_to item.name, product_path(item.id), method: :get %></td>
    <td><%= button_to "review this item", review_product_path(item.id), method: :get %></td>
    <td><%= link_to 'view all products by this merchant', products_path(item.user_id) %></td>
  </ul>
  <% end %>
    <h3><%= link_to "popular products", products_path, method: :get %></h3>
