<% if @order_item.errors.any? %>
<ul class="errors">
  <% @order_item.errors.each do |column, message| %>
  <li>
    <strong><%= column.capitalize %></strong> <%= message %>
  </li>
  <% end %>
</ul>
<% end %>
<!-- Product Details -->
<h1 class="details"><%= "#{@product.name.capitalize}" %></h1>

<%=image_tag "#{@product.photo_url}"%>
<ul>
  <li>
    <%= "Price: #{currency(@product.price)}" %>
  </li>
  <li>
    <%= "Details: #{@product.description}" %>
  </li>
  <% if @product.in_stock? %>
  <li>
    There are <%= "#{@product.inventory}" %>  remaining items, for  <%= "#{@product.name}" %> left!
  </li>
  <!-- Add to Cart Form -->
  <li>
    <%= form_for [@order, @order_item] do |f| %>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.submit "Add to Cart", class: "button" %>
    <% end %>
  </li>
  <% else %>
  <li>
    <%= "#{@product.name}" %> is out of stock.
  </li>
  <% end %>
</ul>
<!-- Buttons -->
<%= link_to "view related items", category_path(@product.id), method: :get, class: "button" %>
<%= link_to "view all products by this seller", search_sellers_products_path(@product.user_id), method: :get, class: "button" %>
<% if session[:user_id] != @product.user_id || session[:user_id] == nil %>
<%= link_to "review this product", new_product_review_path(@product.id), method: :get, class: "button" %>
<%end %>

<%#TODO: how do I make the method to only allow the user selling the product to be able to edit it? @session means seller %>
<%# if @session == true %>

<%# if session[:user_id] == @product.user_id %>

<%# link_to "edit this product", edit_product_path(@product.id), method: :get, class: "button" %>
<%# link_to "add another product", new_product_path, method: :get, class: "button" %>
<%# link_to "delete this product", product_path(@product.id), method: :delete, class: "button" %>
<%#end%>
