
<h1 class="AllList"> </h1>
<% @product = product %>


<% if @session == true %>
  <%=image_tag "#{product.photo_url}"%>
  <td><%= "#{product.name.capitalize}" %></td>
  <td><%= "#{product.price}" %></td>
  <td><%= "#{product.inventory}" %></td>
  <td><%= "#{product.description}" %></td>
  <%end %>

   <%=image_tag "#{product.photo_url}"%>
    <td><%= "#{product.name.capitalize}" %></td>
    <td><%= "#{product.price}" %></td>
    <td><%= "#{product.inventory}" %></td>
    <td><%= "#{product.description}" %></td>
  <h3><%= button_to "review this product", new_product_review_path(product.id), method: :get %></h3>
  <h3><%# button_to ##TODO make a button to "buy this product" method: :get %></h3>
  <h3><%= button_to "view other products in this category" method: :get %></h3>
