<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <header>
      <div class="row">
        <div class="small-12 columns">
          <h1 class="title"> Good Afternoon!</h1>
          <div class = "row">
            <ul class="small-block-grid-3">
              <%= link_to "Browse All Products", products_path, method: :get, class: "button" %>
              <%= link_to "View Popular Products", popular_path, method: :get, class:"button" %></h3>
                <!-- minor change to this link to, so it now points to categories#index (all categories) -->
              <%= link_to "Products by Category", categories_path, method: :get, class:"button"%></div>
              <%= link_to "Home", root_path, class: "button" %>

              <% if session[:user_id].nil? %>
              <%= link_to "Login", "/auth/github", class: "button" %>
              <%= link_to "Sign Up", "/auth/github", class: "button" %> <%# need to adjust the sign up path %>
              <% else %>
              <%= link_to "My Account", user_path(:id), class: "button" %>
              <%= link_to "Logout", logout_path(:id), method: :delete, class: "button" %>
              <% end %>
            </div>
          </nav>
        </header>


        <%= yield %>


        <div class="row">
          <div "small-12 columns">
            <ul class = "search">
              <%= form_tag("/search", method: "get") do %>
              <%= label_tag(:q, "Search for a category:") %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search") %>
              <% end %>
            </article>
          </div>
        </div>

        <footer>
        </footer>
      </body>
      </html>
