<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="title"> Good Afternoon!</h1>
    <nav>
      <%= link_to "Browse All Products", products_path, method: :get, class: "button" %>
      <%= link_to "view popular products", popular_path, method: :get, class:"button" %></h3>
      <%= link_to("Products by Category", products_path(:category), method: :get)%></div>

      <%= link_to "Home", root_path, class: "button" %>
      <% if session[:user_id].nil? %>
        <%= link_to "Login", "/auth/github", class: "button" %>
        <%= link_to "Sign Up", "/auth/github", class: "button" %> <%# need to adjust the sign up path %>
      <% else %>
        <%= link_to "My Account", user_path(:id), class: "button" %>
        <%= link_to "Logout", logout_path(:id), method: :delete, class: "button" %>
      <% end %>
    </nav>
  </header>


<%= yield %>


<footer>
</footer>
<div class="row">
  <ul class="small-block-grid-3">
    <li><%#img_tag%></li>
    <li><%#img_tag%></li>
    <li><%#img_tag%></li>
  </ul>

</body>
</html>
