<!DOCTYPE html>
<html>
<head>
  <title>Betsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="title"> Good Afternoon!</h1>
    <h2 class="link"><%= button_to "Browse All Products", products_path, method: :get %></h2>
    <h2 class="link"><%= button_to "Home", root_path, method: :get%></h2>
    <% if session[:user_id].nil? %>
      <%= button_to "Login", login_path, method: :get %>
      <%= button_to "Sign Up", login_path, method: :get %> 
    <% else %>
      <%= button_to "Logout", logout_path(:id), method: :delete %>
    <% end %>
  </header>


<%= yield %>




<footer>
</footer>


</body>
</html>
